<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appSettings>
  <add key="default_renders" value="1" />
  <add key="bb_path" value="C:\Program Files (x86)\Autodesk\Backburner\cmdjob.exe" />
  <add key="Vue_path" value="C:\Program Files\e-on software\Vue 10 xStream\Application\Vue 10 xStream RenderNode.exe" />
  <add key="Vray_path" value="C:\Program Files\Chaos Group\V-Ray\Standalone for x64\vray\bin\vray.exe" />
  <add key="Modo_path" value="C:\Program Files\Luxology\modo\701\modo_cl.exe" />
  <add key="Blender_path" value="C:\Program Files\Blender Foundation\Blender\blender.exe" />
  <add key="Pixie_path" value="C:\Program Files (x86)\Pixie\bin\rndr.exe" />
  <add key="Aqsis_path" value="C:\Program Files (x86)\Aqsis\bin\aqsys.exe" />
  <add key="Dlight_path" value="C:\Program Files\3Delight\bin\renderdl.exe" />
  <add key="Air_path" value="C:\Program Files (x86)\AIR\bin\air.exe" />
  <add key="AS_path" value="C:\Program Files\Smith Micro\Anime Studio Pro 9\Anime Studio Pro.exe" />
  <add key="scene_path" value="C:\tmp\test_render.vue" />
  <add key="Vue_scene_path" value="C:\tmp\test_render.vue" />
  <add key="Blender_scene_path" value="C:\tmp\test_render.blend" />
  <add key="Modo_scene_path" value="C:\tmp\test_render.lxo" />
  <add key="Vray_scene_path" value="C:\tmp\test_render.vrscene" />
  <add key="Pixie_scene_path" value="C:\tmp\test_render.rib" />
  <add key="Aqsis_scene_path" value="C:\tmp\test_render.rib" />
  <add key="3Dlight_scene_path" value="C:\tmp\test_render.rib" />
  <add key="Air_scene_path" value="C:\tmp\test_render.rib" />
  <add key="AS_scene_path" value="C:\tmp\test_render.anme" />
  <add key="bat_path" value="C:\tmp\render.bat" />
  <add key="list_path" value="C:\tmp\render.list" />
  <add key="group" value="CPU;GPU" />
  <add key="default_group" value="0" />
  <add key="default_start_frame" value="0" />
  <add key="default_end_frame" value="0" />
  <add key="default_step_frame" value="0" />
  <add key="render_blender_path" value="C:\Program Files\Blender Foundation\Blender\blender.exe" />
  <add key="render_blender_scene_path" value="C:\tmp\test_render.blend" />
  <add key="render_blender_script" value="C:\Users\render\Desktop\cam_switch.py" />
  <add key="render_blender_script_arg" value="70 80 text test " />
  <add key="render_blender_script_arg_use" value="1" />
  <add key="render_blender_scene" value="" />
  <add key="render_blender_scene_use" value="1" />
  <add key="render_blender_outs" value="C:\tmp\left_out\" />
  <add key="render_blender_format" value="11" />
  <add key="render_blender_threads" value="0" />
  <add key="render_blender_ext" value="0" />
  <add key="render_blender_outs_use" value="0" />
  <add key="render_blender_script_use" value="0" />
  <add key="render_blender_range" value="" />
  <add key="render_blender_range_use" value="0" />
  <add key="render_blender_range_start" value="44" />
  <add key="render_blender_range_end" value="100" />
  <add key="render_blender_range_jamp" value="0" />
  <add key="render_blender_range_step" value="88" />
  <add key="render_vray_path" value="C:\Program Files\Chaos Group\V-Ray\Standalone for x64\vray\bin\vray.exe" />
  <add key="render_vray_scene_path" value="C:\Users\render\Desktop\ts.vrscene" />
  <add key="render_vray_include_list" value="" />
  <add key="render_vray_include_list_use" value="1" />
  <add key="render_vray_threads" value="0" />
  <add key="render_vray_display_use" value="0" />
  <add key="render_vray_display_srgb" value="1" />
  <add key="render_vray_display_lut" value="0" />
  <add key="render_vray_display_aspect" value="0" />
  <add key="render_vray_display_autoclose" value="0" />
  <add key="render_vray_display_autofocus" value="1" />
  <add key="render_vray_outs" value="C:\Users\render\Documents\Projects\BBB\BBB\bin\" />
  <add key="render_vray_outs_use" value="0" />
  <add key="render_vray_dimensions" value="" />
  <add key="render_vray_dimensions_use" value="" />
  <add key="render_vray_regoin_use" value="0" />
  <add key="render_vray_regoin" value="26:46:32:35" />
  <add key="render_vray_crop_use" value="0" />
  <add key="render_vray_crop" value="6:0:62:100" />
  <add key="render_vray_range" value="" />
  <add key="render_vray_range_use" value="0" />
  <add key="render_vray_range_start" value="6" />
  <add key="render_vray_range_end" value="105" />
  <add key="render_vray_range_step" value="5" />
  <add key="render_vray_range_jamp" value="5" />
  <add key="render_vue_path" value="C:\Program Files\e-on software\Vue 10 xStream\Application\Vue 10 xStream RenderNode.exe" />
  <add key="render_vue_scene_path" value="C:\tmp\test_render.vue" />
  <add key="render_vue_outs_use" value="1" />
  <add key="render_vue_outs" value="C:\Users\render\Documents\Projects\BBB\" />
  <add key="render_vue_range_use" value="1" />
  <add key="render_vue_range" value="" />
  <add key="render_vue_range_start" value="5" />
  <add key="render_vue_range_end" value="95" />
  <add key="render_vue_range_step" value="77" />
  <add key="render_vue_range_jamp" value="54" />
  <add key="render_vue_tile_use" value="1" />
  <add key="render_vue_tile_value" value="29:32:55:54" />
  <add key="render_vue_job_use" value="1" />
  <add key="render_vue_job_value" value="72" />
  <add key="render_as_path" value="C:\Program Files (x86)\Smith Micro\Anime Studio Pro 9\Anime Studio Pro.exe" />
  <add key="render_as_scene_path" value="C:\tmp\test_render.anme" />
  <add key="render_as_render_settings_use" value="0" />
  <add key="render_as_sets_aa" value="0" />
  <add key="render_as_sets_shapefx" value="1" />
  <add key="render_as_sets_layerfx" value="0" />
  <add key="render_as_sets_halfsize" value="1" />
  <add key="render_as_sets_halffps" value="0" />
  <add key="render_as_sets_fewparticles" value="1" />
  <add key="render_as_sets_extrasmooth" value="0" />
  <add key="render_as_sets_ntscsafe" value="1" />
  <add key="render_as_sets_premultiplay" value="0" />
  <add key="render_as_sets_variablewidth" value="1" />
  <add key="render_as_range_use" value="0" />
  <add key="render_as_range" value="1,2,3,4,56,6790-10" />
  <add key="render_as_range_start" value="9" />
  <add key="render_as_range_end" value="90" />
  <add key="render_as_range_step" value="9" />
  <add key="render_as_range_jamp" value="9" />
  <add key="render_as_outs_use" value="0" />
  <add key="render_as_outs" value="C:\Program Files\e-on software\Vue 10 xStream\Application\" />
  <add key="render_as_outs_format" value="3" />
  <add key="render_as_varbose_use" value="1" />
 </appSettings>
</configuration>


















